{
    "$schema": "https://json.schemastore.org/prettierrc.json",
    "useTabs": false,
    "singleQuote": true,
    "printWidth": 80,
    "plugins": ["prettier-plugin-astro"],
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ]
}
